<div class="flex items-center justify-center p-8">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
    <h1 class="text-2xl font-bold mb-6 text-center">Busca por CEP</h1>
    <%= form_with url: root_path, method: :get, class: "space-y-4 mb-6", id: "cep-form" do %>
      <div>
        <%= text_field_tag :cep, (params[:cep]),
                            placeholder: t(".cep_placeholder"),
                            class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-center",
                            id: "cep-input"%>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <p class="text-center"><%= flash[:alert] %></p>
    <% end %>

    <% if @address.present? %>
      <div class="space-y-4 text-center">
        <p class="text-lg font-bold"><%= @address.cep %></p>
        <p class="text-lg"><%= @address.address %></p>
        <p class="text-lg"><%= @address.city %></p>
        <p class="text-lg"><%= @address.state %></p>
        <p class="text-lg">DDD <%= @address.ddd %></p>
      </div>
    <% end %>
  </div>
</div>

<% if @addresses_most_searched.present? %>
  <div class="flex items-center justify-center p-8">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
      <h1 class="text-2xl font-bold mb-6 text-center"><%= t(".addresses_most_searched") %></h1>
      <div class="space-y-4 text-center">
        <% @addresses_most_searched.each do |cep| %>
          <p class="text-lg"><%= "#{cep.state} #{cep.cep} | #{cep.quantity_searched}" %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @addresses_most_searched_by_state.present? %>
  <div class="flex items-center justify-center p-8">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
      <h1 class="text-2xl font-bold mb-6 text-center"><%= t(".addresses_most_searched_by_state") %></h1>
      <div class="space-y-4 text-center">
        <% @addresses_most_searched_by_state.each do |cep| %>
          <p class="text-lg"><%= "#{cep.state} #{cep.cep} | #{cep.quantity_searched}" %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @quantity_addresses_searched_by_state.present? %>
  <div class="flex items-center justify-center p-8">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
      <h1 class="text-2xl font-bold mb-6 text-center"><%= t(".quantity_addresses_searched_by_state") %></h1>
      <div class="space-y-4 text-center">
        <% @quantity_addresses_searched_by_state.each_with_object({}) do |(state, quantity), hash| %>
          <p class="text-lg"><%= "#{state} #{quantity}" %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>